@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
        font-family: 'Kantumruy', sans-serif;
    }
}

@layer components {
    .card {
        @apply bg-white text-gray-700 w-72 min-h-[10rem] shadow-lg rounded-md overflow-hidden
    }

    .badge {
        @apply px-3 py-1 rounded-full text-xs bg-gray-100
    }

    .product-title{
        @apply font-semibold text-2xl overflow-ellipsis overflow-hidden whitespace-nowrap
    }

    .button-primary {
        @apply bg-yellow-500/80 hover:bg-yellow-500/90 px-6 py-2 rounded-md text-white font-medium tracking-wider transition
    }

    .button-icon{
        @apply flex-grow flex justify-center items-center bg-gray-300/60 hover:bg-gray-300/80 transition rounded-md
    }
}